*copy*
ACESSO_SIMULADOR.php
CalculadoraOrcamento.php
SolarCalculator.php
debug_login_total.php
debug_salvar.php
criar_usuarios_teste.php
desktop.ini
demanda (2).sql
demanda estruturas.sql
demanda.sql

# Large Video Files
*.mp4
*.mkv
*.avi
*.mov
Cena_07/
Video_SGT/